@model VMProfile

<div class="row">
    <div class="col-lg-6 mx-auto rounded border p-4">
        <section>
            <h2 class="text-center">Log In</h2>
            <hr />
            <div class="text-danger" role="alert">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
            <form id="loginForm" action="/CustomAccount/CustomLogin" method="post">
                <div class="form-floating mb-3">
                    <input type="email" id="email" name="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required>
                    <label for="email" class="form-label">Email</label>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    </div>
                    <div class="col-6">
                        <a class="w-100 btn btn-lg btn-outline-primary" href="/" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
